#root {
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

.album-card-page-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
}

.album-card-container {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:hidden;
  padding-left: 1rem;
}
.album-card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit (Chrome, Safari, etc.) */
}

.album-card {
  position: relative;
  align-items: center !important;
  margin: 1rem;
  max-width: 300px !important;
  transition: transform 0.3s ease;
}
.album-card:hover {
  transform: scale(1.1);
}

.album-card-container div{
  display: inline-grid;
}

.album-info {
  text-align: left;
}

.album-name, .album-artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist-name {
  margin-top: 8px !important;
  margin-bottom: 0px !important;
}

.album-name {
  margin-top: 12px !important;
  margin-bottom: 0px !important;
}

.album-page-cover {
  max-width: 600px;
  width: 90vw;
}

.progress-bar-container {
  width: 40%;
  height: 4px;
  background-color: #333; /* Dark background */
  overflow: hidden; /* Prevent progress bar overflow */
}

.progress-bar {
  height: 100%;
  background-color: white; /* White progress */
}

.play-pause-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.play-pause-icon {
  filter: brightness(50%);
  transition: transform color 0.3s ease;
  height: 14px;
}

.play-pause-icon:hover {
  cursor: pointer;
  filter: brightness(100%);
}


.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  backdrop-filter: blur(15px);
}

.header-image {
  margin: 0 auto;
}

.header-profile-link {
  padding-left: 12px;
}

.header-profile-image, .header-profile-link {
  border-radius: 32px;
  height: 32px;
  width: 32px;
}

.header-link-container {
  position: absolute;
  align-items: center;
  display: flex;
  margin-right: auto;
  top: auto;
  right: 32px;
}

.login-container {
  margin: 0 auto !important;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 600px;
}

.login-input {
  background-color: black !important;
  padding-left: 10px;
  border: 1px solid;
  border-color: transparent !important;
  border-radius: 32px;
  height: 32px;
  color: white;
  border: 1px solid #ccc !important;
  width: 0vw;
  max-width: 587px;
  width: 74vw;
}

.login-input:focus-visible {
  border: 1px solid #ccc !important;
  outline: transparent !important;
}

.login-input-container {
  text-align: left;
}

.login-input-text {
  margin: 16px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
   color: transparent;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-data-container {
  justify-content: center !important;
  align-items: center !important;
}

.profile-data-fields-container {
  display: flex;
  justify-content: center !important;
  padding: 1rem;
}
.profile-data-text {
  padding: 4px;
  margin: 0;
  font-size: 24px;
}

.profile-data-label {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
}


.profile-image {
  padding: 1rem;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.profile-name {
  margin: 0;
  padding-top: 2rem;
}

.search-hover {
  color: transparent;
  background: url('/src/assets/icons/search.svg') no-repeat left;
  background-size: 15px;
  background-position: 10px 9px;
  background-color: transparent !important;
  border: 1px solid;
  border-color: transparent !important;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  transition: all 0.5s;
}

.search-page {
  color: transparent;
  background: url('/src/assets/icons/search.svg') no-repeat left;
  background-size: 15px;
  background-position: 10px 9px;
  background-color: black !important;
  color: white;
  border: 1px solid #ccc !important;
  border-radius: 32px;
  width: 300px;
  height: 32px;
  padding-left: 50px;
}

.search-page:focus-visible {
  outline: transparent !important;
}

.search-hover:hover {
  color: white;
  border: 1px solid #ccc !important;
  width: 300px;
  padding-left: 50px;
}

.search-hover:focus-visible {
  color: white;
  border: 1px solid #ccc !important;
  outline: transparent !important;
  width: 300px;
  padding-left: 50px;
}

.rating-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.rating-album-text {
  margin: 0;
  max-width: 500px;
  width: 70vw;
  padding-bottom: 16px;
}

.rating-artist-text {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 20px;
  font-size: 24px;
}

.rating-album-data-container {
  text-align: left;
  margin: 10px;
  max-width: 600px;
  width: 90vh;
  position: relative;
}

@media (max-width: 768px) {
  .rating-text-inactive {
    font-size: 16px;
  }
  .rating-component-active {
    padding-right: 8px;
    padding-left: 8px;
    width: 32px !important;
    color: white;
  }
  .rating-text-active {
    font-size: 20px;
  }

  .new-releases-image {
    height: 32px;
    padding-top: 4px !important;
    padding-inline: 16px !important;
  }
}

.tracks {
  padding-top: 2rem;
}

.rating-album-buttons {
  position: absolute;
  text-align: center !important;
  top: 0;
  right: 0;
  z-index: 999;
}

.rating-track-container {
  display: flex;
  align-items: center;
  margin: 0;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.listened-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px !important;
  width: 48px !important;
  border-radius: 48px;
  z-index: 999;
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 6px;
}

.listened-button-active {
  background-color: rgb(255, 255, 255);
}

.listened-button-inactive {
  background-color: grey;
  transition: background-color 0.3s ease;
}

.listened-button-inactive:hover {
  background-color: white;
}

.listened-icon {
  height: 20px;
  filter: brightness(0%);
  padding-bottom: 4px;
}

@media (max-width: 768px) {

  .listened-button {
    height: 40px !important;
    width: 40px !important;
    border-radius: 40px;
  }
  
  .listened-icon {
    height: 16px;
    padding-bottom: 4px;
  }

  .spotify-button {
    height: 40px;
  }

  .spotify-icon {
    height: 40px !important;
  }

}


.spotify-icon {
  height: 48px;
  filter: brightness(75%);
}

.rating-bar {
  margin: 1px;
  background-color: #bebebe;
  width: 20px;
}

.rating-bar:hover {
  background-color: #ffffff;
}

.rating-bar-data-container {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  text-align: left;
  margin: 0 auto;
  padding: 24px;
}
.rating-bar-data-header {
  display: flex;
  padding: 4px;
}

.rating-bar-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 500px;
}

.rating-bar-number {
  padding-top: 8px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding-inline: 8px;
}

.rating-track-name {
  color: white;
  padding-right: 8px;
  margin: 0;
}
.rating-track-info {
  height: 32px;
}

.rating-track-title, .rating-track-info {
  margin: 0;
}

.rating-block {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 36px;
  height: 36px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.rating-component {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-component-inactive {
  padding-right: 10px;
  padding-left: 10px;
  color: gray;
  width: 40px !important;
  transition: transform 0.3s ease, color 0.3s ease;
}
.rating-component-inactive:hover {
  transform: scale(1.6);
  color: rgb(229, 229, 229);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.rating-text-inactive {
  font-size: 20px;
}


.rating-component-active {
  padding-right: 10px;
  padding-left: 10px;
  width: 40px !important;
  color: white;
}
.rating-component-active:hover {
  cursor: pointer;
}
.rating-text-active {
  font-size: 32px;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}


.sort-container {
  max-width: 1000px;
  width: 85vw;
  margin: 0 auto;
  display: flex;  
  align-items: center;
}

.sort-header {
  font-size: 16px !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
}

.sort-select {
  margin-right: 8px;
}

.new-releases-image {
  max-height: 40px;
  padding-top: 8px;
  padding-inline: 24px;
}

.new-releases-header {
  align-items: center;
  display: flex;
  text-align: left;
  padding-left: 2rem;
  cursor: pointer;
}

.new-releases-header-text {
  margin: 0;
}

.new-release-link-card {
  width: 300px;
  height: 366px;
}

.new-release-link {
  text-decoration: none;
  margin: 0 auto;
}

