#root {
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

.album-card-page-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
}

.album-card-container {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:hidden;
  padding-left: 1rem;
}
.album-card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit (Chrome, Safari, etc.) */
}

.album-card {
  position: relative;
  align-items: center !important;
  margin: 1rem;
  max-width: 300px !important;
  transition: transform 0.3s ease;
}
.album-card:hover {
  transform: scale(1.1);
}

.album-card-container div{
  display: inline-grid;
}

.album-info {
  text-align: left;
}

.album-name, .album-artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist-name {
  margin-top: 8px !important;
  margin-bottom: 0px !important;
}

.album-name {
  margin-top: 12px !important;
  margin-bottom: 0px !important;
}
.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  z-index: 1000;
}

.header-image {
  margin: 0 auto;
}

.header-profile-link {
  padding-left: 12px;
}

.header-profile-image, .header-profile-link {
  border-radius: 32px;
  height: 32px;
  width: 32px;
}

.header-link-container {
  position: absolute;
  align-items: center;
  display: flex;
  margin-right: auto;
  top: auto;
  right: 32px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
   color: transparent;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.search-hover {
  color: transparent;
  background: url('/src/assets/icons/search.svg') no-repeat left;
  background-size: 15px;
  background-position: 10px 9px;
  background-color: black !important;
  border: 1px solid;
  border-color: transparent !important;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  transition: all 0.5s;
}

.search-page {
  color: transparent;
  background: url('/src/assets/icons/search.svg') no-repeat left;
  background-size: 15px;
  background-position: 10px 9px;
  background-color: black !important;
  color: white;
  border: 1px solid #ccc !important;
  border-radius: 32px;
  width: 300px;
  height: 32px;
  padding-left: 50px;
}

.search-page:focus-visible {
  outline: transparent !important;
}

.search-hover:hover {
  color: white;
  border: 1px solid #ccc !important;
  width: 300px;
  padding-left: 50px;
}

.search-hover:focus-visible {
  color: white;
  border: 1px solid #ccc !important;
  outline: transparent !important;
  width: 300px;
  padding-left: 50px;
}

.rating-block {
  position: absolute;
  top: 8px;
  left: 8px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.new-releases-header {
  text-align: left;
  margin: 0;
  padding-left: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.new-release-link-card {
  width: 300px;
  height: 366px;
}

.new-release-link {
  text-decoration: none;
  margin: 0 auto;
}

