:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  line-height: 1.1;
  font-weight: 400;
  font-size: 50px;
}

h3 {
  line-height: 1.1;
  font-weight: 400;
  font-size: 20px;
}

h4 {
  font-weight: 300;
  font-size: 16;
  color: #bebebe;
}

select {
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 16px;
  height: 32px !important;
  line-height: 1.1;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  max-width: 90% !important;
}

select:focus {
  width:auto; }

@media (max-width: 768px) {
  h2 {
    line-height: 1.1;
    font-weight: 400;
    font-size: 40px;
  }
  
  h3 {
    line-height: 1.1;
    font-weight: 400;
    font-size: 16px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 8;
    color: #bebebe;
  }
}